<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div>
            <img class="logo-ap" src="../../../assets/APLogo-negro.png" alt="">
        </div>
        <div class="navbar-nav">
            <a href=""><img src="../../../assets/linkedin-cont.png" alt=""></a>
            <a href=""><img src="../../../assets/insta.png" alt=""></a>
            <a href=""><img src="../../../assets/face-cont.png" alt=""></a>
            <a href=""><img src="../../../assets/github.png" id="github" alt=""></a>
            <a href=""><img src="../../../assets/email.png" id="email" alt=""></a>
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </div>
    </div>
</nav>