.navbar {
    background-image: url(../../../assets/images.jpg);
    width: 100%;
    height: 90px;
    border: 1px solid;
    border-color: #cac3b8;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.navbar-nav a {
    margin-right: 5px;
}

.logo-ap {
    width: 190px;
}

#github {
    border-radius: 3px;
}

#email {
    width: 40px;
}

.btn {
    height: 38px;
    border: 2.5px solid;
    text-align: center;
}