<div class="container-fluid">
  <div class= "row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="perfil">
            <img class="img-fluid" src="assets/doloperfil.png" id="foto-perfil" alt="Foto perfil"> 
            <div>
                <h2><b>{{persona.nombre}} {{persona.apellido}}</b></h2>
                <h5>Full Stack Developer Jr</h5>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="presentacion">
            <h5>Hola! soy desarrolladora Web</h5>
            <p>
            Trabajo en remoto para clientes de distintos lugares del mundo!
            Cuento con diversas habilidades como HTML, CSS,  javaScript, Angular 
            y Python.<br> 
            Y bueno acá estoy con 42 años y un poco más, haciendome la "Grace Hopper", pero bueno, 
            una única frase me acompaña en momentos así, cuando se me ocurre 
            ponerme a prueba a mi misma, si no, la vida de qué va...<br> 
            "Si otro lo puede hacer, entonces, yo también!!"
          </p>
        </div>
     </div>
  </div>
</div>
  