<div class="container-fluid">
    <h2>Experiencia laboral</h2>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="assets/google.png" id="logo-google" alt="Logo Google"> 
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4>Google</h4>
        <P>Ahh sii clarooo... jajajaj capaz que trabaje acá</P>
      </div>
    </div>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="assets/apple-plata.png" id="logo-apple" alt="Logo Apple"> 
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4>APPLE</h4>
        <P>Si seguramente... en mis sueños!!!</P>
      </div>
    </div>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="assets/spacex.png" id="logo-spacex" alt="Logo SpaceX"> 
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4>SPACE X</h4>
        <P>Pura beneficencia de Elon ja!</P>
      </div>
    </div>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="caserio">
          <h3>Estudio Caserio</h3>
          <p>Consultoría en impuestos & finanzas</p>  
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h4>Trabajo actual:</h4>
        <P>Empleada administrativa.<br>  
           Sección: coordinación de liquidación de sueldos. Altas y Bajas de empleados.  
           Inspecciones y actas: Ministerio de trabajo, sindicatos, Afip.<br> 
           Desde el 1 de Noviembre de 2021 hasta la actualidad.</P>
      </div>
    </div>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="assets/huartepropiedades.png" id="huarte" alt="Logo Huarte Propiedades"> 
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <h4>Huarte Propiedades</h4>
          <P>Empleada administrativa. <br>  
            Sección: administración de conmsorcios. Encargada de liquidar expensas.
            Manejo de fondos: pago de gastos en general de cada consorcio,
            pago de haberes de los encargados de edificios, pagos a gremios y proveedores. 
            Aministración del fondo de cada consorcio para cumplir con los gastos
            y realizar obras de mantenimiento en los edificios. 
            Cantidad de consorcios a cargo: 14<br>
            Desde el 1 de Marzo de 2015 hasta el 31 de Agosto de 2021.
          </P>
      </div>
    </div>
  </div>

