
<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">
      <img src="../../../assets/APLogo-negro.png" id="logo-ap" aria-current="page" alt="Logo Argentina Programa">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" >
            <a class="nav-link" href="#"><img src="../../../assets/linkedin-cont.png" alt="Logo LinquidIn"></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#"><img src="../../../assets/insta.png" alt="Logo Instragram"></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#"><img src="../../../assets/face-cont.png" alt="Logo Facebook"></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#"><img src="../../../assets/github.png" id="github" alt="Logo Github"></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="#"><img src="../../../assets/email.png" width="40px" alt="Logo email"></a>
          </li>
          <li>
              <button class="btn btn-outline-dark" type="button">Login</button>
          </li>
        </ul>
      </div>
</nav>
