<div class="container-fluid">
    <h2>Formación</h2>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="assets/APLogo.png" id="APLogo"  alt="Logo Argentina Programa"> 
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h5>Full Stack Jr</h5>
        <P>Curso #YoProgramo, dictado por el Ministerio de Desarrollo Productivo de la Nación Argentina 
           en conjunto con el INTI, con certificación oficial.<br>  
           Cursando.</P>
      </div>
    </div>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="assets/Udemy_logo.png" id="udemy" alt="Logo Udemy"> 
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h5>Master en Python</h5>
        <P>Curso Full Stack, dictado por Victor Robles a través de la plataforma Udemy, con certificacion. 
           Habilidades obtenidas: Manejo del lenguaje python, Poo programación orientada a objetos en Python,
           bases de datos SQL, Tkinter, Django, Flask.<br> 
           Cursando.</P>
      </div>
    </div>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="assets/utn.png" id="utn" alt="Logo UTN"> 
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h5>Liquidación de sueldos</h5>
        <P>Curso liquidación de sueldos dictado a través del Centro de e-Learning 
           de la Universidad Tecnológica Nacional, Facultad de Buenos Aires. Modalidad 
           a distancia, con una carga horaria de 45 horas. Certificado de aprobación,
           nota: execelente.<br> 
           Fecha del certificado 26 de Diciembre de 2017.</P>
      </div>
    </div>
    <div class= "row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <img class="img-fluid" src="../../../assets/lachacra.png" id="la-chacra" alt="Logo Secundaria Chacra Perdriel"> 
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h5>Escuela de Educación Secundaria Nº 25</h5>
        <P>Estudios secundarios completos, titulo: orientación Ciencias Sociales.<br>
           Año de egreso: 1997
        </P>
      </div>
    </div>
  </div>
