<div class="container d-flex align-items-center justify-content-center position-relative flex-wrap">
    <div class= "row">
        <div><h2>Hard & Soft Skills</h2></div>
         <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6">
            <div class="col1">
                <h4>Hard Skills - Top 5</h4>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/html.png" width="40px" alt="Logo HTML5">
                    <div class="description-iconos"><p><b>HTML</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85%">85%</div>
                </div>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/css-3.png" width="40px" alt="Logo CSS">
                    <div class="description-iconos"><p><b>CSS</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/js.png" width="40px" alt="Logo JavaScript">
                    <div class="description-iconos"><p><b>JavaScript</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                </div>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/bootstrap.png" width="40px" alt="Logo Bootstrap">
                    <div class="description-iconos"><p><b>Bootstrap</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/angular.png" width="40px" alt="Logo Angular">
                    <div class="description-iconos"><p><b>Angular</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-sm-6 col-md-6 col-lg-6">
            <div class="col2">
                <h4>Soft Skills - Top 5</h4>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/trabajo-equipo.png" width="40px" alt="Logo trabajo en equipo">
                    <div class="description-iconos"><p><b>Trabajo en equipo</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/responsabilidad.png" width="50px" alt="Logo responsabilidad">
                    <div class="description-iconos"><p><b>Responsabilidad</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                </div>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/resolucion-problemas.png" width="41px" alt="Logo resolución de problemas">
                    <div class="description-iconos"><p><b>Resolución de problemas</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/detalles.png" width="40px" alt="Logo atención a los detalles">
                    <div class="description-iconos"><p><b>Atención a los detalles</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
                <div class="iconos">
                    <img class="img-fluid rounded mx-auto d-block" src="../../../assets/gestion-tiempo.png" width="43px" alt="Logo gestión de tiempo">
                    <div class="description-iconos"><p><b>Gestión de tiempo</b></p></div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                </div>
            </div>
        </div>
                    
